// Sizes
$custom-radio-height:rem-calc(32);
$custom-radio-width:$custom-radio-height;
$custom-radio-label-text:rem-calc(16);
$custom-radio-label-line-height:1.5*$custom-radio-label-text;
$custom-radio-margin-bottom:$custom-radio-label-text;
$custom-radio-label-left-padding:rem-calc(40);
$custom-radio-bullet-width:rem-calc(12);
$custom-radio-bullet-height:$custom-radio-bullet-width;
//Colors
$color-custom-radio-default-bdr:#aaa;
$color-custom-radio-checked-bdr:$color-custom-radio-default-bdr;
$color-custom-radio-outline-focus:#4183c4;
$color-custom-radio-bullet:#444;
$color-disabled:#ccc;

// Default 
input[type=radio].css-custom-radio {
	// .visuallyhidden from html5 boilerplate
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

	& + label.css-custom-radio {
		cursor: pointer;
		position: relative;
		display: inline-block;
		padding-left: $custom-radio-label-left-padding;
		font-size: $custom-radio-label-text;
		line-height: $custom-radio-label-line-height;
		min-height: $custom-radio-height;
		padding-top: ($custom-radio-height - $custom-radio-label-line-height)/2;
		margin-bottom: $custom-radio-margin-bottom;
	}
	& + label.css-custom-radio:after {
		position: absolute;
		content: '';
		width: $custom-radio-width;
		height: $custom-radio-height;
		border-radius: 50%;
		border:1px solid $color-custom-radio-default-bdr;
		left:0;
		top:50%;
		margin-top:-$custom-radio-height/2;
	}

}

// Checked
input[type=radio].css-custom-radio:checked {

	& + label.css-custom-radio:before {
		content:'';
		position:absolute;
		left:($custom-radio-width - $custom-radio-bullet-width) / 2;
		top:($custom-radio-height - $custom-radio-bullet-height) / 2;
		width: $custom-radio-bullet-width;
		height: $custom-radio-bullet-height;
		background-color: $color-custom-radio-bullet;
		border-radius: 50%;
	}
	& + label.css-custom-radio:after {
		border-color: #000;
	}
}

// Focus
input[type=radio].css-custom-radio:focus {

	& + label.css-custom-radio:after {
		outline:$color-custom-radio-outline-focus dashed 1px;
	}
}

// Disabled
input[type=radio].css-custom-radio[disabled] {

	&:checked {
		& + label.css-custom-radio:before {
			background-color: $color-disabled;
		}
	}
	& + label.css-custom-radio {
		color:$color-disabled;
		cursor: default;
	}
	& + label.css-custom-radio:after {
		border-color:$color-disabled;
	}
}