/* line 18, ../scss/partials/forms/_css-custom-radio.scss */
input[type=radio].css-custom-radio {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 29, ../scss/partials/forms/_css-custom-radio.scss */
input[type=radio].css-custom-radio + label.css-custom-radio {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-left: 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding-top: 0.25rem;
  margin-bottom: 1rem;
}
/* line 40, ../scss/partials/forms/_css-custom-radio.scss */
input[type=radio].css-custom-radio + label.css-custom-radio:after {
  position: absolute;
  content: '';
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #aaaaaa;
  left: 0;
  top: 50%;
  margin-top: -1rem;
}

/* line 57, ../scss/partials/forms/_css-custom-radio.scss */
input[type=radio].css-custom-radio:checked + label.css-custom-radio:before {
  content: '';
  position: absolute;
  left: 0.625rem;
  top: 0.625rem;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #444444;
  border-radius: 50%;
}
/* line 67, ../scss/partials/forms/_css-custom-radio.scss */
input[type=radio].css-custom-radio:checked + label.css-custom-radio:after {
  border-color: #000;
}

/* line 75, ../scss/partials/forms/_css-custom-radio.scss */
input[type=radio].css-custom-radio:focus + label.css-custom-radio:after {
  outline: #4183c4 dashed 1px;
}

/* line 84, ../scss/partials/forms/_css-custom-radio.scss */
input[type=radio].css-custom-radio[disabled]:checked + label.css-custom-radio:before {
  background-color: #cccccc;
}
/* line 88, ../scss/partials/forms/_css-custom-radio.scss */
input[type=radio].css-custom-radio[disabled] + label.css-custom-radio {
  color: #cccccc;
  cursor: default;
}
/* line 92, ../scss/partials/forms/_css-custom-radio.scss */
input[type=radio].css-custom-radio[disabled] + label.css-custom-radio:after {
  border-color: #cccccc;
}
